@charset "UTF-8";
/* CSS Document */

nav {
    clear: both;
}
.footer {
	text-align: center;
	position: fixed;
}
.navbar-fixed-top {
	color: black;
	background-color:#4b62a1; 
}

body {
	background-image: url(../images/Background.gif);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: contain;
	height: 1000px;
	width: 1920px;
	max-width: 1920px;
}
.logo {
	margin-left: 16%;
	margin-top: 5%;
	margin-right: 0%;
	margin-bottom: 5%;
	width: 931px;
}
#gallery {
}
#gall {
	width: 294em;
	margin-top: -420px;
	margin-left: -1px;
}
.blueban {
	width: 531px;
}
.gallery {
	color: #FFFFFF;
	margin-top: -181px;
	font-size: 62px;
	left: 154px;
	margin-left: 165px;
}
